
body {
	width: 800px;
	margin: 0auto;
	border: 3px solid #931420;
	background-color: #fffded;
}
main h1 {
	font-size: 150%;
	border: 3px double #800000;
	margin-bottom: .75em;
	border-radius: 10px;
	box-shadow: 5px 5px;
	padding: .5em 0 .5em 2em;
	background-color: white;
}
main h2 {
	color: #800000;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}
main h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
article {
	padding: .5em 0;
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000;
}
article h2 {
	padding-top: 0;
}
article h1 {
	font-size: 105%;
	padding-bottom: .25em;
}
article img {
	float: right;
	max-width: 40%;
	min-width: 150px;
	margin: .5em 0 1em 1em;
	border: 1px solid black;
}
